.JaitecBreadcrumb_div{
    background: url(<%dir%>/bg.png) 0 0 repeat-x #666;
    overflow:hidden;
}
/*   this is for a breadcrumb text only

.JaitecBreadcrumb.active:after{
    content: ' > ';
}
.JaitecBreadcrumb.last:after{
    content: ' / ';
}
*/
.JaitecBreadcrumb .center{
    background: url(<%dir%>/center.png) 0 0 repeat-x transparent;
    min-width: 100px;
    height: 30px;
}
.JaitecBreadcrumb.no-first .left{
    background: url(<%dir%>/left.png) 0 0 no-repeat transparent;
    width: 11px;
    height: 30px;
    margin-left: -11px;
}
.JaitecBreadcrumb.first .left{
    background: url(<%dir%>/left-rect.png) 0 0 no-repeat transparent;
    width: 7px;
    height: 30px;
}
.JaitecBreadcrumb.last .right{
    background: url(<%dir%>/right-rect.png) 0 0 no-repeat transparent;
    width: 11px;
    height: 30px;
}
.JaitecBreadcrumb.no-last .right{
    background: url(<%dir%>/right.png) 0 0 no-repeat transparent;
    width: 11px;
    height: 30px;
}
.JaitecBreadcrumb span{ float: left; }
.JaitecBreadcrumb {font-family: "Verdana"; font-size: 20px }
.JaitecBreadcrumb.last { color: black }
.JaitecBreadcrumb a,
.JaitecBreadcrumb a:visited,
.JaitecBreadcrumb a:hover{ color:#004099 }